<!--
  Generated template for the RecentPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>最近消费</ion-title>
</ion-navbar>
<ion-content>
  <ion-list *ngFor="let type of recents">
    <ion-list-header item-right>
      {{type.CategoryName}}
    </ion-list-header>
    <ion-item *ngFor="let mr of type.MspendRecords">
      <div>
        <h2>{{mr.Name}}<ion-badge item-right>{{mr.Money}}元</ion-badge></h2>
        
      </div>
      <ion-badge item-right>{{mr.Category.Name}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>